body {
    padding:0;
    margin:0;
    overflow:hidden;
}
#gameArea{
    width:100%;
    height:100vh;
    overflow:hidden;
}
.player{
    font-family:Verdana, sans-serif;
    position:absolute;
    width:50px;
    height:50px;
    text-align:center;
    line-height: 50px;
    background:red;
    border-radius: 100%;
    border:10px solid rgba(0,0,0,.1);
    background-clip: padding-box;
    left:0;
    top:0;
}